---
import NavBar from "../components/NavBar.jsx";
import HeroSection from "../components/HeroSection.jsx";
import AboutSection from "../components/AboutSection.jsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Optecha</title>
  </head>
  <body>
    <NavBar client:load />
    <HeroSection client:load />
    <AboutSection client:load />
  </body>
</html>
